.fullbody {
    padding-top: 10%;
}

.contactsbody {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.textbody {
    margin: 0 auto;
    max-width: 800px;
    position: relative;
}

a,
.things,
.prsnt {
    font-family: monospace;
    color: black;
    text-align: center;
}

.list_ {
    display:table;
    margin:0 auto;
}

.list {
    font-family: monospace;
}

.imageshow {
    cursor: pointer;
    text-decoration: underline;
}

.image {
    z-index: 1;
    position: absolute;
    visibility: hidden;
}

.dog {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.pascal {
    visibility: hidden;
}
