<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aliev.space</title>
</head>
<body>
<div class="fullbody">
    <div class="textbody" id="textbody">
        <p class="prsnt">Welcome here!</p>
        <p class="prsnt">My name is <a class="imageshow" id ="imageshow">Mark<img src="{{ url_for('static', filename='mark.png') }}" border="1" class="image" id="image"></a> and you're on my home page, where you can find out who am I. So, I'm junior developer and currently working as a beginning full-stack at <a href="https://webim.ru/">Webim</a> company. Also, I'm first grade student of computer science faculty in <show id="show">Herzen University</show>.</p>
        <p class="prsnt">Here's a short list of my skills in programming:</p>
        <ul class="list_">
            <li class="list">Python (mid-level)</li>
            <li class="list">C# (mid-level)</li>
            <li class="list">JavaScript (low-level)</li>
            <li class="list">PHP (low-level)</li>
            <li class="list pascal" id="pascal">Pascal (dafuq-level)</li>
        </ul>
    </div>
</div>
<div class="dog">
    <pre>
    __    __
    \/----\/
     \0  0/
     _\  /_
   _|  \/  |_
  | | |  | | |
 _| | |  | | |_
"---|_|--|_|---"

    </pre>
</div>
<div class="contactsbody">
        <a href="https://t.me/chechkes">Telegram</a><h>&emsp;</h><a href="https://vk.com/markovichenko">VKontakte</a><h>&emsp;</h><a href="https://www.instagram.com/markovichecha/">Instagram</a>
</div>
<script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
</body>
<footer class="footer">
    <p class="prsnt">no license @ 2018</p>
</footer>